<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html" aria-label="logo-portfolio">
        <img
          class="header-img-logo"
          src="./img/header/image.jpg"
          alt="header-logo"
          height="80"
        />
        <svg class="heder-name-logo" width="84" height="19">
          <use href="./img/symbol-defs.svg#icon-jefferson"></use>
        </svg>
      </a>
      <div class="header-menu">
        <p class="header-menu-text">Menu</p>
        <ul class="header-menu-item">
          <li class="header-menu-list">
            <a></a>
          </li>
          <li class="header-menu-list">
            <a></a>
          </li>
          <li class="header-menu-list">
            <a></a>
          </li>
          <li class="header-menu-list">
            <a></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
